# ----------------------------------------------------------------------
# Python / FastAPI
# ----------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/
pip-log.txt
pip-delete-this-file.txt
.pytest_cache/
.mypy_cache/
.ruff_cache/
instance/
.python-version

# IDE/Editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# ----------------------------------------------------------------------
# Environment Variables & Secrets
# ----------------------------------------------------------------------
.env
.env.local
.env.*.local

# ----------------------------------------------------------------------
# Operating System
# ----------------------------------------------------------------------
.DS_Store
Thumbs.db

# ----------------------------------------------------------------------
# Stuff
# ----------------------------------------------------------------------
*/papers/*
*.log