services:

  rag:
    build:
      context: ./MLRERAG-RAG
    image: MLRERAG/rag
    container_name: RAG-MLRERAG
    env_file:
      - ./MLRERAG-RAG/.env
    environment:
      DATABASE_HOST: db
      DATABASE_PORT: 5432
    ports: 
      - 8001:8000
    networks:
      - MLRERAG_network
    depends_on:
      - db
  
  backend:
    build:
      context: ./MLRERAG-backend
    image: MLRERAG/backend
    container_name: backend-MLRERAG
    env_file:
      - ./MLRERAG-backend/.env
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
      RAG_SERVICE_HOST: rag
      RAG_SERVICE_PORT: 8000
      REDIS_HOST: redis
      REDIS_PORT: 6379
    ports: 
      - 8000:8000
    networks:
      - MLRERAG_network
    depends_on:
      - rag
      - redis
  
  frontend:
    build:
      context: ./MLRERAG-frontend
    image: MLRERAG/frontend
    container_name: frontend-MLRERAG
    env_file:
      - ./MLRERAG-frontend/.env
    environment:
      API_HOST: backend
      API_PORT: 8000
    ports: 
      - 8501:8501
    networks:
      - MLRERAG_network
    depends_on:
      - backend

volumes:
  postgres_data:

networks:
  MLRERAG_network:
    driver: bridge
    external: true