DATABASE_HOST=
DATABASE_PORT=
DATABASE_USER=
DATABASE_PASSWORD=
DATABASE_NAME=

PORT=
BATCH_SIZE=
CHUNK_SIZE=
OVERLAP=

GROBID_HOST=
GROBID_PORT=

OLLAMA_HOST=
OLLAMA_PORT=

TAGGER_MODEL=
TAGGER_API_KEY=

EMBEDDER_MODEL=
EMBEDDER_DEVICE=
EMBEDDER_BATCH_SIZE=
EMBEDDING_DIM=

VECTOR_DB_HOST=
VECTOR_DB_PORT=
VECTOR_DB_COLLECTION=

GRAPH_DB_HOST=
GRAPH_DB_PORT=
GRAPH_DB_USER=
GRAPH_DB_PASSWORD=
GRAPH_DB_DATABASE=

GROK_API_KEY=
GROK_MODEL=