POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER_RAG=MLRERAG-RAG
POSTGRES_PASSWORD_RAG=
POSTGRES_DATABASE=MLRERAG

PORT=8002
BATCH_SIZE=8
CHUNK_SIZE=1024
OVERLAP=256

GROBID_HOST=grobid
GROBID_PORT=8070

OLLAMA_HOST=ollama
OLLAMA_PORT=11434

TAGGER_MODEL=xai/grok-4-1-fast-non-reasoning
TAGGER_API_KEY=

EMBEDDER_MODEL=qwen3-embedding:0.6b
EMBEDDER_DEVICE=cpu
EMBEDDER_BATCH_SIZE=16
EMBEDDING_DIM=768

VECTOR_DB_HOST=qdrant
VECTOR_DB_PORT=6333
VECTOR_DB_COLLECTION=mlrerag

GRAPH_DB_HOST=neo4j://neo4j
GRAPH_DB_PORT=7687
GRAPH_DB_USER=neo4j
GRAPH_DB_PASSWORD=
GRAPH_DB_DATABASE=neo4j

GROK_API_KEY=
GROK_MODEL=grok-4-1-fast-non-reasoning