# ----------------------------------------------------------------------
# Python development artifacts to exclude
# ----------------------------------------------------------------------
__pycache__/
*.pyc
*.pyo
.venv/
venv/
env/
.pytest_cache/
.mypy_cache/
.ruff_cache/
pip-log.txt

# ----------------------------------------------------------------------
# Node/Front-end files (исключаем всю папку фронта)
# ----------------------------------------------------------------------
../MLRERAG-frontend/

# ----------------------------------------------------------------------
# Common files (исключаем все на уровне проекта, что не нужно бэку)
# ----------------------------------------------------------------------
.git
.gitignore
.dockerignore
.vscode/
npm-debug.log
yarn-debug.log