POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=

PORT=
ACTIVATION_TOKEN_LENGTH=

REFRESH_TOKEN_LIFETIME_DAYS=

JWT_LIFETIME_MIN=
JWT_ISSUER=
JWT_SECRET_KEY=
JWT_ALGORITHM=

SMTP_EMAIL=
SMTP_PASSWORD=
SMTP_HOST=
SMTP_PORT=

RAG_SERVICE_HOST=
RAG_SERVICE_PORT=

CONTEXT_WINDOW=

REDIS_HOST=
REDIS_PORT=
REDIS_TTL=